<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744970117800-5gcqm8o8u1dn09rr2u0pjlqn8qsssh9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744970117800-5gcqm8o8u1dn09rr2u0pjlqn8qsssh9k</string>
	<key>API_KEY</key>
	<string>AIzaSyA3bFA4S76dXmEb748Zb4IcaATMLKtUgr0</string>
	<key>GCM_SENDER_ID</key>
	<string>744970117800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psr.front.psr</string>
	<key>PROJECT_ID</key>
	<string>psr-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>psr-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744970117800:ios:99b0b84252b6fd5eb5d89d</string>
</dict>
</plist>